* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 1128px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.gallery-item {
  flex-basis: 360px;
  height: 200px;

  transition: transform 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.04);
  }
}

.gallery-link {
  display: block;
  margin: 0 auto;
  &:hover,
  &:focus {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44'><path d='M14.157 39.9098C14.4867 40.1837 14.9018 40.3335 15.3303 40.3333L34.8333 40.3333C35.8058 40.3333 36.7384 39.947 37.4261 39.2594C38.1137 38.5717 38.5 37.6391 38.5 36.6666L38.5 23.4483C38.4997 22.5462 38.1668 21.676 37.5651 21.0039C36.9634 20.3318 36.135 19.9052 35.2385 19.8055L22 18.3333L22 7.3333C22 6.3608 21.6137 5.4282 20.9261 4.7406C20.2384 4.053 19.3058 3.6666 18.3333 3.6666C17.3609 3.6666 16.4282 4.053 15.7406 4.7406C15.053 5.4282 14.6667 6.3608 14.6667 7.3333L14.6667 29.3333L9.1117 27.1113C8.6476 26.9258 8.1505 26.837 7.6509 26.8505C7.1513 26.864 6.6597 26.9795 6.2063 27.1898C5.7529 27.4001 5.3473 27.7008 5.0143 28.0735C4.6813 28.4462 4.428 28.883 4.2698 29.3571L4.0627 29.9805C3.9458 30.3302 3.9374 30.7071 4.0385 31.0618C4.1396 31.4164 4.3455 31.7322 4.6292 31.9678L14.157 39.9098Z' fill='%234E75FF'/></svg>")
        22 22,
      auto;
    /* cursor: zoom-in; */
  }
}

.modal-img {
  width: 1112px;
  height: 640px;
}

.basicLightbox {
  background: rgba(46, 47, 66, 0.8) !important;
}
